@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.units {
  height: 100vh;

  @include tablet {
    padding-top: 101px;
    height: auto;
  }

  @include mobile {
    padding-top: 63px;
  }
}

.title {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1111;
  pointer-events: none;

  @include tablet {
    padding: 30px;
    border-bottom: 1px solid fade(var(--text-primary-2), 0.1);
    position: initial;
    opacity: 1;
  }

  @include mobile {
    padding: 20px 16px;
  }
}

.slider {
  height: 100%;

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    width: 55px;
    height: 55px;
    background: var(--bg-secondary-4);
    border: 1px solid fade(var(--text-primary-2), 0.1);
    border-radius: 50%;
    color: var(--text-primary);
    top: calc(50% + 102px);
    transform: translateY(-50%);
    transition: $transition-fast;

    @media (hover: hover) {
      &:hover {
        background: var(--accent-color);
        border-color: var(--accent-color);
        color: var(--bg-primary);
      }
    }

    svg {
      width: 12px;
      height: 12px;
    }
  }

  :global(.swiper-button-prev) {
    left: 27px;
  }

  :global(.swiper-button-next) {
    right: 27px;
  }

  :global(.swiper-button-disabled) {
    opacity: 0;
    pointer-events: none;
  }
}

.slide {
  padding: 150px 50px 50px;
  height: auto !important;
  width: calc(100% / 3);

  &:not(:last-child) {
    border-right: 1px solid fade(var(--text-primary-2), 0.1);
  }

  @include tablet {
    width: calc(100% / 2);
  }

  @include mobile {
    width: 100%;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid fade(var(--text-primary-2), 0.1);

  @include mobile {
    padding-top: 30px;
    padding-bottom: 60px;
    gap: 30px;
  }
}

.gridItem {
  padding: 30px;
  width: calc(100% / 2);
  border-bottom: 1px solid fade(var(--text-primary-2), 0.1);

  &:nth-last-child(-n + 2) {
    border: none;
  }

  &:nth-child(odd) {
    border-right: 1px solid fade(var(--text-primary-2), 0.1);
  }

  @include mobile {
    padding: 0 16px;
    width: 100%;
    border: none;

    &:nth-child(odd) {
      border: none;
    }
  }
}
