@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.section {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;

  @include mobile {
    padding: 60px 0;
    height: initial;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.section-theme-default {
  .text {
    color: fade(var(--text-primary), 0.27);

    :global(.text-mask) {
      background: linear-gradient(
        90deg,
        var(--text-primary) 50%,
        fade(var(--text-primary), 0.27) 50%
      );

      background-size: 200% 100%;
      background-position: 100% 0;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      transform: translateZ(0);
      will-change: background-position;
    }
  }
}

.section-theme-blue {
  background: var(--text-primary);

  .text {
    color: fade(var(--bg-primary), 0.27);

    :global(.text-mask) {
      background: linear-gradient(
        90deg,
        var(--bg-primary) 50%,
        fade(var(--bg-primary), 0.27) 50%
      );

      background-size: 200% 100%;
      background-position: 100% 0;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      transform: translateZ(0);
      will-change: background-position;
    }
  }
}

.decor {
  width: 679px;
  height: auto;
  position: absolute;
  bottom: 0;
  left: -108px;

  @include tablet {
    width: 420px;
    left: auto;
    right: -50px;
  }

  @include mobile {
    width: 280px;
    right: -40px;
  }
}

.wrapper {
  margin: auto;
  position: relative;
  z-index: 1;
}

.text {
  display: block;
  width: 100%;
  max-width: 882px;
  font-family: var(--font-pragmatica);
  font-weight: 400;
  font-size: 32px;
  line-height: 1.3;
  text-align: center;
  contain: layout style paint;
  backface-visibility: hidden;

  :global(.line) {
    display: block;
    position: relative;
  }

  @include tablet {
    text-align: left;
  }

  @include mobile {
    max-width: 500px;
    font-size: 18px;
  }
}
