@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.card {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 700px;
  background: var(--text-primary);
  color: var(--bg-primary);

  @include tablet {
    padding: 100px 50px;
    min-height: 600px;
  }

  @include mobile {
    padding: 60px 16px;
    min-height: 580px;
  }
}

.title {
  font-family: var(--font-pragmatica);
  font-weight: 400;
  font-size: 48px;

  @include mobile {
    font-size: 30px;
  }
}

.row {
  display: flex;
  gap: 70px;

  @include mobile {
    flex-direction: column;
    gap: 20px;
  }
}

.profitTitle {
  margin-bottom: 20px;
  display: block;
  font-weight: 400;
  font-size: 64px;
  color: var(--accent-color-5);

  @include mobile {
    margin-bottom: 6px;
    font-size: 46px;
  }
}

.profitSubtitle {
  display: block;
  font-weight: 400;
  font-size: 20px;

  @include mobile {
    font-size: 16px;
  }
}

.footnote {
  font-size: 18px;
  opacity: 0.7;

  @include mobile {
    font-size: 16px;
  }
}
