@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.hero {
  height: 100vh;
  position: relative;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: fade(var(--text-primary-3), 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.container {
  position: relative;
  z-index: 2;
}

.content {
  margin: auto;
}

.suptitle {
  margin-bottom: 60px;
  display: block;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--bg-primary);
}

.logo {
  margin: 0 auto 60px;
  max-width: 1240px;
  display: block;
  width: 100%;
}

.title {
  margin-bottom: 50px;
  display: block;
  font-weight: 200;
  font-size: 36px;
  text-align: center;
  color: var(--bg-primary);
}

.button {
  margin: 0 auto;
}
