@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.hero {
  height: 100vh;
  position: relative;

  @include tablet {
    padding: 200px 0 100px;
    height: auto;
  }

  @include mobile {
    padding: 130px 0 76px;
  }
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: fade(var(--text-primary-3), 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.container {
  position: relative;
  z-index: 2;
}

.content {
  margin: auto;

  @include mobile {
    margin: 0;
  }
}

.suptitle {
  margin-bottom: 60px;
  display: block;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--bg-primary);

  @include tablet {
    margin-bottom: 40px;
  }

  @include mobile {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.logo {
  margin: 0 auto 60px;
  width: 1220px;
  display: block;
  height: auto;
  opacity: 0.8;

  @include tablet {
    margin-bottom: 40px;
    width: 696px;
  }

  @include mobile {
    margin-bottom: 20px;
    width: 290px;
  }
}

.title {
  margin-bottom: 50px;
  display: block;
  font-family: var(--font-pragmatica);
  font-weight: 200;
  font-size: 32px;
  text-align: center;
  color: var(--bg-primary);

  @include tablet {
    margin: 0 auto 30px;
    width: 100%;
    max-width: 560px;
  }

  @include mobile {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.button {
  margin: 0 auto;

  @include mobile {
    width: 100%;
  }
}
