@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.slider {
  padding: 12px 0;
  width: 100%;
  background: var(--accent-color-3);
  overflow: hidden;
}

.marqueeTrack {
  display: flex;
  animation: marquee 60s linear infinite;
  width: max-content;
}

.marqueeLeft {
  animation-name: marqueeLeft;
}

.marqueeRight {
  animation-name: marqueeRight;
}

@keyframes marqueeLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marqueeRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.slideGroup {
  display: flex;
}

.slide {
  width: max-content;
  display: flex;
  height: auto;
  gap: 30px;
  font-family: var(--font-pragmatica);
  font-weight: 200;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: var(--text-primary);
  align-items: center;
  padding: 0 75px;
}

.title {
  margin: auto 0;
}

.percent {
  width: 87px;
  position: relative;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.percentNum {
  font-size: 22px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
