@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.section {
  padding: 136px 0 200px;
  background: var(--bg-secondary-2);
  position: relative;
  overflow: hidden;

  .title {
    margin-bottom: 30px;
  }

  @include tablet {
    padding: 100px 0 460px;
  }

  @include mobile {
    padding: 60px 0 340px;

    .title {
      margin-bottom: 20px;
    }
  }
}

.location {
  width: 100%;
  max-width: 610px;
  position: relative;
  z-index: 1;
}

.text {
  margin-bottom: 32px;

  p {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include mobile {
    font-size: 16px;
  }
}

.mapImage {
  display: block;
  width: 806px;
  height: 635px;
  position: absolute;
  top: 0;
  right: 0;

  @include tablet {
    height: auto;
    top: auto;
    bottom: 0;
  }

  @include mobile {
    width: 100%;
    max-width: 480px;
    bottom: -30px;
  }
}
