@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.wrapper {
  padding: 50px;
  width: 742px;
  background: var(--bg-primary);
  border: 1px solid fade(var(--text-primary-2), 0.1);
}

.header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: 0;
  cursor: pointer;
  transition: $transition-fast;

  @media (hover: hover) {
    &:hover {
      opacity: 0.6;
      transform: rotate(-180deg);
    }
  }

  &:active {
    opacity: 0.3;
  }

  svg {
    width: 18px;
    height: 18px;
  }
}

.form {
  display: block;
}

.formRow {
  display: flex;
  gap: 10px;
}

.formCol {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputWrapper {
  flex-grow: 1;
}

.input {
  padding: 13px 20px;
  display: block;
  width: 100%;
  background: var(--bg-inputs-3);
  border: 1px solid fade(var(--text-primary-2), 0.1);
  font: inherit;
  font-size: 20px;
  line-height: 1;
  text-align: start;
  color: var(--text-primary-3);
  transition: $transition-fast;

  @media (hover: hover) {
    &:hover {
      background: fade(var(--bg-inputs-2), 0.5);
      border-color: var(--bg-inputs-2);
    }
  }

  &:focus {
    border-color: var(--text-primary);
  }

  &.error {
    border-color: var(--error-color);
  }

  &::placeholder {
    font: inherit;
    font-size: 20px;
    color: fade(var(--text-primary-2), 0.4);
    line-height: 1;
  }
}

.textArea {
  height: 100%;
  resize: none;
}

.errorMessage {
  margin-top: 10px;
  display: block;
  font-size: 16px;
  color: var(--error-color);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerClose {
  padding: 0;
  background: none;
  border: none;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-pragmatica);
  color: var(--text-primary);
  text-transform: uppercase;
  cursor: pointer;
  transition: $transition-fast;

  @media (hover: hover) {
    &:hover {
      color: var(--accent-color);
    }
  }
}

.footer {
  margin-top: 35px;
}
