@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.wrapper {
  margin-bottom: calc(100vh - 100px);
  background: var(--bg-primary);
  position: relative;
  z-index: 1;

  @include mobile {
    margin-bottom: calc(100vh - 62px);
  }
}
