@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.section {
  height: 100vh;
}

.row {
  display: flex;
  height: 100%;
  position: relative;
}

.cards {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 50%;
  height: 50%;
  border-right: 1px solid fade(var(--text-primary-2), 0.1);

  &:nth-child(1),
  &:nth-child(2) {
    border-bottom: 1px solid fade(var(--text-primary-2), 0.1);
  }
}

.card {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  text-align: start;
  cursor: pointer;
  transition: $transition-fast;

  @media (hover: hover) {
    &:hover {
      background: var(--bg-secondary-2);

      .cardInner {
        &::after {
          width: 100%;
        }
      }

      .text {
        animation: animText 0.6s ease-out forwards;
      }
    }
  }
}

.cardInner {
  padding: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 8px;
    width: 0;
    background: var(--accent-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: $transition-fast;
  }
}

.titleWrapper {
  margin-top: auto;
}

.title {
  font-family: var(--font-golos);
  font-weight: 400;
  font-size: 20px;
  color: var(--font-pragmatica);
  letter-spacing: 0.02em;
}

.text {
  font-family: var(--font-pragmatica);
  font-weight: 200;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: var(--bg-primary);
  position: absolute;
  top: calc(50% + 30px);
  left: calc(50% + 136px);
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0;
}

@keyframes animText {
  from {
    opacity: 0;
    top: calc(50% + 30px);
  }
  to {
    opacity: 1;
    top: 50%;
  }
}

.col {
  width: 50%;
  background: var(--text-primary-2);
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}
