@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.section {
  padding: 65px 0 155px;
  background: linear-gradient(
    to bottom,
    var(--bg-secondary-2),
    var(--bg-secondary-3)
  );

  .title {
    margin-bottom: 100px;
  }

  @include tablet {
    .title {
      margin-bottom: 80px;
    }
  }

  @include mobile {
    padding-bottom: 60px;

    .title {
      margin-bottom: 40px;
    }
  }
}

.cardList {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;

  @include mobile {
    margin-bottom: 16px;
  }
}

.card {
  padding: 30px 50px 50px;
  width: calc(100% / 4);
  height: 414px;
  display: flex;
  flex-direction: column;
  position: relative;

  &.hasImage {
    padding: 0;
  }

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(6),
  &:nth-child(7),
  &:nth-child(8) {
    border-left: 1px solid fade(var(--text-primary-2), 0.08);
  }

  &:nth-child(-n + 4) {
    border-bottom: 1px solid fade(var(--text-primary-2), 0.08);
  }

  &:nth-child(1) {
    .line {
      &::after {
        width: 108px;
        right: -108px;
      }
    }
  }

  &:nth-child(3) {
    .line {
      background: var(--accent-color-2);

      &::after {
        width: 280px;
        background: var(--text-primary-2);
        left: 50px;
      }
    }
  }

  &:nth-child(4) {
    .line {
      &::after {
        width: 50px;
        left: -50px;
      }
    }
  }

  &:nth-child(5) {
    .line {
      &::after {
        width: 50px;
        left: -50px;
      }
    }
  }

  @include tablet {
    padding: 30px;
    width: calc(100% / 2);

    &:nth-child(1) {
      border: 0;
      border-bottom: 1px solid fade(var(--text-primary-2), 0.08);
      order: 2;

      .line {
        &::after {
          width: 60px;
          right: auto;
          left: -60px;
        }
      }

      .cardInner {
        margin-top: 0;
      }
    }

    &:nth-child(2) {
      border: 0;
      border-bottom: 1px solid fade(var(--text-primary-2), 0.08);
      order: 4;
    }

    &:nth-child(3) {
      border: 0;
      border-bottom: 1px solid fade(var(--text-primary-2), 0.08);
      order: 6;

      .cardInner {
        margin-top: 0;
      }

      .line {
        &::after {
          width: calc(100% - 50px);
          left: 50px;
        }
      }
    }

    &:nth-child(4) {
      border: 0;
      border-bottom: 1px solid fade(var(--text-primary-2), 0.08);
      border-right: 1px solid fade(var(--text-primary-2), 0.08);
      order: 1;

      .line {
        &::after {
          width: 60px;
          left: auto;
          right: -60px;
        }
      }

      .cardInner {
        margin-top: auto;
      }
    }

    &:nth-child(5) {
      border: 0;
      border-bottom: 1px solid fade(var(--text-primary-2), 0.08);
      border-right: 1px solid fade(var(--text-primary-2), 0.08);
      order: 5;

      .cardInner {
        margin-top: auto;
      }
    }

    &:nth-child(6) {
      border: 0;
      border-bottom: 1px solid fade(var(--text-primary-2), 0.08);
      border-right: 1px solid fade(var(--text-primary-2), 0.08);
      order: 3;
    }

    &:nth-child(7) {
      border: 0;
      border-bottom: 0;
      order: 8;
    }

    &:nth-child(8) {
      border: 0;
      border-right: 1px solid fade(var(--text-primary-2), 0.08);
      border-bottom: 0;
      order: 7;
    }
  }

  @include mobile {
    padding: 16px;
    height: 200px;

    &:nth-child(1) {
      .line {
        &::after {
          width: 52px;
          left: -32px;
        }
      }
    }

    &:nth-child(3) {
      .line {
        &::after {
          width: calc(100% - 34px);
        }
      }
    }

    &:nth-child(4) {
      .line {
        &::after {
          width: 57px;
          right: -37px;
        }
      }
    }

    &:nth-child(5) {
      .line {
        &::after {
          width: 60px;
          left: -16px;
        }
      }
    }
  }
}

.cardInner {
  &.toBottom {
    margin-top: auto;
  }
}

.image {
  display: block;
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
  }
}

.cardTitle {
  font-size: 80px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--text-primary-2);

  @include mobile {
    font-size: 50px;
  }
}

.line {
  margin: 10px 0;
  width: 100%;
  height: 5px;
  background: var(--text-primary-2);
  position: relative;
  z-index: 1;

  &:after {
    content: "";
    display: block;
    height: 5px;
    background: var(--accent-color-2);
    position: absolute;
    top: 0;
  }

  @include mobile {
    height: 3px;

    &::after {
      height: 3px;
    }
  }
}

.text {
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.02em;

  @include mobile {
    font-size: 14px;
  }
}

.projectsLink {
  margin-left: auto;
  padding-bottom: 7px;
  display: block;
  width: max-content;
  font-size: 24px;
  line-height: 1;
  color: var(--text-primary);
  border-bottom: 1px solid var(--text-primary);

  @include tablet {
    margin-left: 0;
  }

  @include mobile {
    padding-bottom: 4px;
    font-size: 14px;
  }
}
