@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.container {
  padding: 0 50px;
  margin: 0 auto;
  width: 100%;

  @include tablet {
    padding: 0 30px;
  }

  @include mobile {
    padding: 0 16px;
  }
}

.high {
  height: 100%;
  display: flex;
  flex-direction: column;
}
