@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.section {
  height: 100vh;
  background: var(--text-primary);
  color: var(--bg-primary);

  .title {
    margin: 0 0 30px;
  }

  @include tablet {
    padding-top: 160px;
  }

  @include mobile {
    padding-top: 110px;

    .title {
      margin: 0 0 20px;
    }
  }
}

.container {
  @include tablet {
    margin-bottom: 50px;
  }
}

.wrapper {
  margin: auto 0;
}

.subtitle {
  margin: 0 0 34px;

  @include mobile {
    font-size: 16px;

    br {
      display: none;
    }
  }
}

.buttons {
  display: flex;
  gap: 20px;

  @include mobile {
    flex-direction: column;
    gap: 10px;
  }
}
