@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;

  &.isHidden {
    animation: animPreloader 1.3s ease-out forwards;
    animation-delay: 1s;
    pointer-events: none;
  }
}

@keyframes animPreloader {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.preloader-blue {
  background: #001c54;

  .indicator {
    background: fade(var(--bg-primary), 0.1);

    &::after {
      background: var(--bg-inputs-2);
    }
  }
}

.indicator {
  width: 400px;
  height: 3px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    animation: animIndicator 5s ease-out forwards;
  }

  @include mobile {
    width: 280px;
    height: 2px;
  }
}

@keyframes animIndicator {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
