@use "../functions/breakpoint" as *;

/*
 * Базовые media
 * Если вам нужно настроить как-то кастомно, добавьте свои или исправьте показатели в settings/breakpoints.
 */

/*
 * max-width: 767px - мобильные устройства
 */

@mixin mobile {
  @media (max-width: breakpoint("tablet") - 1) {
    @content;
  }
}

/*
 * min-width: 768px - планшеты и выше
 */

@mixin tabletMin {
  @media (min-width: breakpoint("tablet")) {
    @content;
  }
}

/*
 * max-width: 1279px - планшеты и небольшие экраны
 */

@mixin tablet {
  @media (max-width: breakpoint("laptop") - 1) {
    @content;
  }
}

/*
 * min-width: 1440px - десктоп
 */

@mixin desktop {
  @media (min-width: breakpoint("desktop")) {
    @content;
  }
}
