@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.card {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 700px;
  background-size: cover;

  .button {
    color: var(--bg-primary);
  }

  @include tablet {
    padding: 100px 50px;
    min-height: 600px;
  }

  @include mobile {
    padding: 60px 16px;
    min-height: 470px;

    .button {
      justify-content: space-between;
    }
  }
}

.price {
  margin: 0 0 8px;
  font-size: 28px;
  font-family: var(--font-pragmatica);
  font-weight: 400;
  line-height: 1;
  color: var(--accent-color-5);

  span {
    font-size: 64px;
  }

  @include mobile {
    font-size: 18px;

    span {
      font-size: 48px;
    }
  }
}

.priceLabel {
  font-size: 20px;
  color: var(--bg-primary);

  @include mobile {
    font-size: 16px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include tablet {
    gap: 24px;
  }
}

.revenueTitle {
  margin: 0 0 10px;
  display: block;
  font-size: 32px;
  color: var(--bg-primary);
  line-height: 1;

  @include tablet {
    margin-bottom: 6px;
    font-size: 28px;
  }
}

.revenueSubtitle {
  display: block;
  font-size: 20px;
  color: var(--bg-primary);
  line-height: 1.1;
  opacity: 0.7;

  @include tablet {
    font-size: 18px;
  }

  @include mobile {
    font-size: 16px;
  }
}
