@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.wrapper {
  opacity: 0;
  transform: translateY(20px);
  transition:
    transform 1s ease-out,
    opacity 0.4s ease-out;

  &.isActive {
    opacity: 1;
    transform: translateY(0);
  }
}
