@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.popup {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: flex;
  background: fade(var(--bg-primary), 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}

.content {
  margin: auto;
}
