@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.wrapper {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;

  @include tablet {
    display: flex;
    background: fade(var(--bg-secondary-3), 0.86);
  }
}

.closeEmulate {
  display: none;

  @include tablet {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-primary);
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 30px;
    pointer-events: none;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  @include mobile {
    width: 32px;
    height: 32px;
    top: 15px;
    right: 15px;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}

.card {
  width: 400px;
  background: var(--bg-secondary-4);
  position: fixed;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  z-index: 10;

  @include tablet {
    margin: auto;
    position: initial;
    transform: translate(0);
  }

  @include mobile {
    width: 288px;
  }
}

.slider {
  aspect-ratio: 400/249;

  :global(.swiper-pagination-bullets) {
    display: flex;
    justify-content: center;
    gap: 10px;
    bottom: 20px;
    left: 0;
  }

  :global(.swiper-pagination-bullet) {
    margin: 0 !important;
    background: var(--bg-primary);
  }

  @include mobile {
    aspect-ratio: 288/220;
  }
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  padding: 40px 30px;

  @include mobile {
    padding: 18px 16px;
  }
}

.title {
  margin: 0 0 15px;
  font-family: var(--font-pragmatica);
  font-weight: 400;
  font-size: 20px;
  color: var(--text-primary-2);
  letter-spacing: -0.02em;
  color: var(--text-primary-2);

  @include mobile {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.route {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  font-size: 12px;
  color: fade(var(--text-primary), 0.8);
  line-height: 1;

  img {
    width: 14px;
    height: auto;
  }

  @include mobile {
    margin-bottom: 10px;
    gap: 4px;

    img {
      width: 12px;
    }
  }
}

.description {
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-primary-2);

  p {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include mobile {
    font-size: 14px;
  }
}
