@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.slider {
  width: calc(50% + 1px);
  height: 100vh;
  position: absolute !important;
  top: 0;
  right: 0;
  pointer-events: none;

  @include tablet {
    width: 100%;
    height: initial;
    position: initial !important;
    aspect-ratio: 768/650;
  }

  @include mobile {
    aspect-ratio: 320/280;
  }
}

.slide {
  pointer-events: none;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
