@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.inputWrapper {
  margin-bottom: 35px;

  @include mobile {
    margin-bottom: 20px;
  }
}

.input {
  padding: 22px 30px 22px;
  display: block;
  width: 100%;
  background: var(--bg-inputs);
  border: 3px solid var(--bg-inputs);
  border-radius: 0;
  font: inherit;
  font-size: 26px;
  line-height: 1;
  color: var(--text-primary-3);
  letter-spacing: 0.02em;
  transition: $transition-fast;

  @media (hover: hover) {
    &:hover {
      background: var(--bg-inputs-2);
      border-color: var(--bg-inputs-2);
    }
  }

  &:focus {
    border-color: var(--accent-color-2);
  }

  &.error {
    border-color: var(--error-color);
  }

  &::placeholder {
    font: inherit;
    font-size: 26px;
    color: var(--text-inputs);
    line-height: 1;
  }

  @include mobile {
    padding: 15px 20px;
    font-size: 14px;

    &::placeholder {
      font-size: 14px;
    }
  }
}

.errorMessage {
  margin-top: 10px;
  display: block;
  font-size: 16px;
  color: var(--error-color);
}

.submitButton {
  padding-top: 24px;
  padding-bottom: 25px;
  width: 100%;
  font: inherit;
  font-weight: 400;
  font-size: 28px;
  color: var(--bg-primary);
  text-transform: initial;
  letter-spacing: 0;
  justify-content: center;

  @include mobile {
    padding: 16px 20px;
    font-size: 14px;
  }
}

.social {
  margin: 40px 0;

  @include mobile {
    margin: 20px 0;
  }
}

.socialTitle {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--bg-primary);

  @include mobile {
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 0;
  }
}

.socialWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mobile {
    gap: 10px;
  }
}

.socialLabel {
  min-height: 20px;
  width: max-content;
  font-size: 20px;
  line-height: 1;
  color: var(--bg-primary);
  user-select: none;
  cursor: pointer;
  display: block;
  position: relative;

  @include mobile {
    min-height: 15px;
  }
}

.socialText {
  padding-left: 36px;
  display: block;
  position: relative;

  @at-root input:disabled ~ & {
    cursor: not-allowed;
  }

  &:before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid var(--accent-color-2);
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: 0;
  }

  @at-root input:disabled ~ &:before {
    border-color: gray;
  }

  &:after {
    content: "";
    width: 15px;
    height: 15px;
    background: var(--accent-color-2);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 4px;
    opacity: 0;
    transition: $transition-fast;

    @at-root input:checked ~ & {
      opacity: 1;
    }

    @at-root input:checked:disabled ~ & {
      border-color: gray;
    }
  }

  @include mobile {
    padding-left: 30px;
    font-size: 12px;

    &::before {
      width: 15px;
      height: 15px;
      top: -4px;
    }

    &::after {
      width: 10px;
      height: 10px;
      top: 0;
    }
  }
}

.socialInput {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  transform: translateY(-50%);
}

.agree {
  margin: 48px 0;
  position: relative;

  &.error {
    .agreeText {
      &::before {
        border-color: var(--error-color);
      }
    }
  }

  a {
    padding-bottom: 3px;
    text-decoration: none;
    color: var(--accent-color-2);
    border-bottom: 1px solid var(--accent-color-2);
  }

  @include mobile {
    margin: 20px 0;
  }
}

.agreeLabel {
  min-height: 20px;
  font-size: 18px;
  line-height: 1.2;
  color: var(--bg-primary);
  user-select: none;
  cursor: pointer;
  display: inline-block;
  position: relative;

  @include mobile {
    min-height: 15px;
  }
}

.agreeText {
  padding-left: 35px;
  display: block;
  position: relative;

  @at-root input:disabled ~ & {
    cursor: not-allowed;
  }

  &:before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid var(--accent-color-2);
    position: absolute;
    top: 0;
    left: 0;
  }

  @at-root input:disabled ~ &:before {
    border-color: gray;
  }

  &:after {
    content: "";
    width: 15px;
    height: 15px;
    background: var(--accent-color-2);
    position: absolute;
    top: 4px;
    left: 4px;
    opacity: 0;
    transition: $transition-fast;

    @at-root input:checked ~ & {
      opacity: 1;
    }

    @at-root input:checked:disabled ~ & {
      border-color: gray;
    }
  }

  @include mobile {
    padding-left: 30px;
    max-width: 320px;
    font-size: 12px;

    &::before {
      width: 15px;
      height: 15px;
      top: 6px;
    }

    &::after {
      width: 10px;
      height: 10px;
      top: 10px;
    }
  }
}

.agreeInput {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  transform: translateY(-50%);
}
