@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.wrapper {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.backgroundPicture {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.6s ease-out;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.isShow {
    opacity: 1;
  }
}

.slider {
  padding: 0 50px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;

  &.isActive {
    pointer-events: visible;
  }
}

.swiperWrapper {
  margin-left: auto !important;
  margin-right: 0 !important;
  width: 100%;
  max-width: 420px;
}

.slide {
  display: flex;
  flex-direction: column;
}

.slideCard {
  margin: auto 0;
  padding: 50px;
  background: var(--bg-primary);
  min-height: 437px;
  display: flex;
  flex-direction: column;
}

.slideHeader {
  display: flex;
  gap: 20px;
  align-items: center;

  h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
  }

  img {
    width: 30px;
    height: 30px;
  }
}

.slideText {
  margin: auto 0 0;
  font-size: 16px;
  line-height: 1.3;
  color: var(--text-primary);
}
