@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.wrapper {
  width: 100%;
  overflow: hidden;
  height: 100vh;

  @include tablet {
    min-height: calc(100vh - 208px);
    height: 870px;
  }

  @include mobile {
    min-height: calc(100vh - 188px);
    height: 600px;
  }
}

.map {
  height: calc(100vh + 100px);

  @include tablet {
    height: calc(100% + 40px);
  }
}

.markerWrapper {
  position: relative;
  transform: translate(-50%, -50%);

  &.isInteract {
    opacity: 0.6;
    cursor: pointer;
    transition: $transition-fast;

    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
  }

  &.isActive {
    opacity: 1;

    .pin {
      width: 44px;
      height: 44px;
    }
  }

  @include mobile {
    .pin {
      width: 28px;
      height: 28px;
    }
  }
}

.pin {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $transition-fast;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include mobile {
    width: 28px;
    height: 28px;
  }
}
