@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.wrapper {
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.map {
  height: calc(100vh + 100px);
}

.markerWrapper {
  position: relative;
  transform: translate(-50%, -50%);

  &.isInteract {
    opacity: 0.6;
    cursor: pointer;
    transition: $transition-fast;

    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
  }

  &.isActive {
    opacity: 1;

    .pin {
      width: 46px;
      height: 46px;
    }
  }
}

.pin {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $transition-fast;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
