@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.footer {
  padding: 200px 0;
  background: var(--text-primary);

  .title {
    margin-bottom: 46px;
    font-weight: 200;
    color: var(--bg-primary);

    span {
      color: var(--accent-color);
    }
  }

  @include tablet {
    padding: 100px 0;

    .title {
      margin-bottom: 35px;
    }
  }

  @include mobile {
    padding: 60px 0;

    .title {
      margin-bottom: 20px;
    }
  }
}

.row {
  display: flex;
  gap: 130px;

  @include tablet {
    flex-wrap: wrap;
    gap: 60px;
  }

  @include mobile {
    gap: 40px;
  }
}

.col {
  width: 50%;

  &:nth-child(1) {
    display: flex;
    flex-direction: column;
  }

  @include tablet {
    width: 100%;
  }
}

.subtitle {
  margin: 0 0 40px;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  color: var(--text-secondary-2);

  @include tablet {
    margin: 0;
    font-size: 22px;
    line-height: 1.2;
  }

  @include mobile {
    font-size: 16px;

    br {
      display: none;
    }
  }
}
