@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.footer {
  padding: 200px 0;
  background: var(--text-primary);

  .title {
    margin-bottom: 46px;
    font-weight: 200;
    color: var(--bg-primary);

    span {
      color: var(--accent-color);
    }
  }
}

.row {
  display: flex;
  gap: 130px;
}

.col {
  width: 50%;

  &:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
}

.subtitle {
  margin: 0 0 40px;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  color: var(--text-secondary-2);
}
