@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.list {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    gap: 16px;
  }
}

.social {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  background: var(--text-secondary);
  color: var(--text-primary);

  &.accentBg {
    background: var(--accent-color);
    color: var(--bg-primary);
  }

  @include mobile {
    padding: 14px 10px;
    gap: 34px;
  }
}

.item {
  width: calc(50% - 10px);
}

.title {
  display: block;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.02em;

  @include mobile {
    font-size: 16px;
  }
}

.contact {
  display: block;
  font-size: 20px;
  letter-spacing: 0.02em;
  opacity: 0.4;
  line-height: 1;

  @include mobile {
    font-size: 12px;
  }
}
