@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.wrapper {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;

  .bottom {
    margin-top: auto;
  }

  @include mobile {
    height: calc(100vh - 62px);

    .bottom {
      margin-top: 0;
      padding-top: 40px;
      height: 100%;
    }
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      fade(var(--gray-color), 0.3),
      fade(var(--gray-color), 0)
    );
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include mobile {
    &::after {
      background: fade(var(--gray-color), 0.3);
    }
  }
}

.row {
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  @include tablet {
    flex-wrap: wrap;
  }

  @include mobile {
    padding-bottom: 0;
    height: 100%;
  }
}

.nav {
  margin-top: 6px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include tablet {
    gap: 5px;
    position: absolute;
    bottom: 23px;
    left: 0;
  }

  @include mobile {
    gap: 3px;
    width: 100%;
    align-items: center;
    bottom: 86px;
  }
}

.navLink {
  display: block;
  font-family: var(--font-pragmatica);
  font-weight: 200;
  font-size: 14px;
  line-height: 1.1;
  color: var(--bg-primary);
  opacity: 0.7;
  transition: $transition-fast;

  @media (hover: hover) {
    &:hover {
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.2;
  }

  @include mobile {
    font-size: 14px;
  }
}

.col {
  @include tablet {
    width: 100%;
  }
}

.logo {
  margin-bottom: 30px;
  display: block;
  width: 461px;
  height: auto;

  @include tablet {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mobile {
    margin-bottom: 20px;
    opacity: 0.7;
  }
}

.langLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
  transition: $transition-fast;

  @include tablet {
    gap: 14px;
    justify-content: flex-end;
    position: absolute;
    bottom: 30px;
    right: 0;
  }

  @include mobile {
    width: 100%;
    gap: 10px;
    justify-content: center;
    bottom: 43px;
  }
}

.lang {
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--text-secondary-3);
  opacity: 0.6;
  border-bottom: 1px solid transparent;
  transition: $transition-fast;

  @media (hover: hover) {
    &:hover {
      opacity: 1;
    }
  }

  &.isActive {
    opacity: 1;
    border-bottom-color: var(--bg-primary);
  }

  @include tablet {
    font-size: 14px;
  }
}

.social {
  margin-top: 10px;
  width: 280px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  @include tablet {
    width: 100%;
    justify-content: center;
  }

  @include mobile {
    margin-top: 0;
    height: 100%;
    gap: 10px;
  }
}

.socialLink {
  display: block;
  font-size: 0;
  transition: $transition-fast;

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }

  &:active {
    opacity: 0.2;
  }

  img {
    display: block;
    width: 30px;
    height: 30px;
  }

  @include mobile {
    img {
      width: 20px;
      height: 20px;
    }
  }
}
