@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.card {
  display: block;
  height: 100%;
  border: 1px solid fade(var(--text-primary-2), 0.1);
}

.wrapper {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  font-family: var(--font-golos);
  text-align: left;
  color: var(--text-primary);
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      .title,
      .button {
        color: var(--accent-color);
      }
    }
  }
}

.slider {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 380/254;

  :global(.swiper-pagination-bullets) {
    display: flex;
    justify-content: center;
    gap: 10px;
    bottom: 20px;
    left: 0;
  }

  :global(.swiper-pagination-bullet) {
    margin: 0 !important;
    background: var(--bg-primary);
  }
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hiddenNav {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.hiddenNavItem {
  flex-basis: 0;
  flex-grow: 1;
}

.text {
  padding: 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 0 25px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  border-bottom: 1px solid fade(var(--text-primary-2), 0.1);
  transition: $transition-fast;
}

.properties {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.property {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 14px;

  img {
    width: 22px;
    height: 22px;
  }
}

.bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  transition: $transition-fast;

  svg {
    width: 13px;
    height: 13px;
  }
}

.price {
  font-weight: 500;
  font-size: 14px;
  color: fade(var(--text-primary), 0.3);
}
