@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.header {
  &.isLiftUp {
    .wrapper {
      top: -110px;
    }
  }

  &.isSticky {
    &:not(.isColoredWhite) {
      .wrapper {
        background: var(--text-primary);
        border-color: fade(var(--bg-primary), 0.1);
      }

      .button {
        background: var(--bg-primary);
        border-color: var(--bg-primary);
        color: var(--text-primary);
      }
    }
  }

  &.isColoredWhite {
    .wrapper {
      background: var(--bg-secondary-4);
      border-color: fade(var(--text-primary-2), 0.1);
    }
  }

  .button {
    padding: 13px 21px 12px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: visible;
  }

  @include tablet {
    &.isSticky {
      &.isColoredBlue {
        .wrapper {
          background: fade(#001c54, 0.6);
        }
      }
    }

    &.isColoredBlue {
      .wrapper {
        background: fade(#001c54, 0.6);
      }
    }
  }

  @include mobile {
    &.isColoredWhite {
      .wrapper {
        background: var(--bg-primary);
      }
    }
  }
}

.wrapper {
  padding: 30px 0;
  width: 100%;
  border-bottom: 1px solid transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: $transition-fast;
  animation: animWrapper 0.6s ease-out forwards;

  @include tablet {
    border-color: fade(var(--bg-secondary-4), 0.3);
  }

  @include mobile {
    padding: 16px 0;
  }
}

@keyframes animWrapper {
  from {
    transform: translateY(-110px);
  }
  to {
    transform: translateY(0);
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  display: flex;
  align-items: center;
  gap: 60px;

  @include mobile {
    width: 100%;
    justify-content: space-between;

    &:nth-child(2) {
      display: none;
    }
  }
}

.logo {
  display: block;
  pointer-events: visible;

  img {
    display: block;
    width: 200px;
    height: auto;
  }
}
