@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.section {
  position: relative;

  &.isHasNotOffsets {
    margin: 0;
  }

  &.isHigh {
    height: 100vh;
  }

  @include tablet {
    &.isHigh {
      height: initial;
    }
  }
}
