@use "@/ui/styles/functions" as *;
@use "@/ui/styles/mixins" as *;
@use "@/ui/styles/settings" as *;

.wrapper {
  padding-right: 116px;
  height: 100vh;
  position: relative;

  .title {
    margin-bottom: 26px;
    color: var(--bg-primary);
  }

  .button {
    width: 100%;
    color: var(--bg-primary);
    justify-content: space-between;

    @media (hover: hover) {
      &:hover {
        svg {
          transform: translateX(3px);
        }
      }
    }

    svg {
      width: 18px;
      height: 18px;
      transition: $transition-fast;
    }
  }
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.container {
  position: relative;
  z-index: 1;
}

.inner {
  margin: auto 0 auto auto;
  padding: 40px;
  width: 100%;
  max-width: 483px;
  background: var(--text-primary);
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.link {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  line-height: 1;
  border: 2px solid fade(var(--bg-primary), 0.1);
  color: var(--bg-primary);
  transition: $transition-fast;

  @media (hover: hover) {
    &:hover {
      border-color: fade(var(--bg-primary), 0.3);
    }
  }

  svg {
    width: 18px;
    height: 18px;
    color: var(--accent-color);
  }
}

.buttonWrapper {
  margin-top: 60px;
}
